.outputBar {
  padding: 12px 30px;
  background-color: #434343;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-left: 3px solid #3f64da;
}

.copied {
  color: #b9b9b9;
}
.outputBar h4 {
  margin: 0;
  font-weight: 600;
  color: #cbcbcb;
}
.copy {
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  color: rgb(243, 243, 243);
}
.copy:hover {
  background-color: #333333;
  border-radius: 5px;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #b9b9b9;
}
